// Variable Overrides
$body-bg: $blue;

$nav-tabs-border-color: (
  "primary": blue;
);


.jumbotron {
    background-image: url(https://upload.wikimedia.org/wikipedia/commons/6/6a/Amerigo_vespucci_1976_nyc_aufgetakelt.jpg);
    background-size: cover;
    font-family: 'Indie Flower', cursive;
}
.carosel {
    max-width: 100%;
    
}
.col-4 {
    border-right: 1px solid black;
}
.byline {
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
}
.captain {
    font-family: 'Indie Flower', cursive;

}
// Bootstrap Sass Imports
@import "../../node_modules/bootstrap/scss/bootstrap";
@import 'modules/_overrides.scss';
@import 'vendor/_bootstrap.scss';